# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist
./main.js
./main.css
index.html
component/index.js
component/index.min.js
component/unbundled.js

# misc
.DS_Store
.env
npm-debug.log
.vscode
