:root {
  --fail: #E74C3C;
  --pass: #23D160;
  --error: #FFDD57;
  --skip: #ECF0F1;
  --unknown: #3273DC;
  --info: #2C3E50;
  --burger-margin: 7px;
}

.hero {
  background-image: linear-gradient(141deg, #2C3E50 0%, color(#2C3E50 tint(5%)) 71%, color(#2C3E50 tint(10%)) 100%);

  &-head {
    height: 49px;

    & .title {
      color: #fff;
      line-height: 49px;
    }

    & .icon {
      margin-top: 3px;
      margin-right: 10px;

      & .background,
      & .char,
      & .border {
        transition: all 0.2s;
      }

      & .border-top,
      & .border-left,
      & .char-x {
        fill: var(--pass);
        stroke: var(--pass);
      }

      & .border-bottom,
      & .border-right,
      & .char-v {
        fill: var(--fail);
        stroke: var(--fail);
      }

      &:hover {
        & .border-top,
        & .border-left,
        & .char-x {
          fill: var(--fail);
          stroke: var(--fail);
        }

        & .border-bottom,
        & .border-right,
        & .char-v {
          fill: var(--pass);
          stroke: var(--pass);
        }
      }
    }

    & .burger {
      width: calc(9 * var(--burger-margin));
      position: relative;
      height: 49px;
      background-color: transparent;
      transition: background-color 0.2s;

      & .top,
      & .middle,
      & .bottom {
        position: absolute;
        border: solid 1px #fff;
        width: calc(4 * var(--burger-margin));
        left: calc(2 * var(--burger-margin));
        transition: all 0.2s;

        &:before {
          content: ' ';
        }
      }

      & .top {
        margin-top: calc(var(--burger-margin) + var(--burger-margin) + 1px);
      }

      & .middle {
        margin-top: calc(2 * var(--burger-margin) + var(--burger-margin) + 1px);
      }

      & .bottom {
        margin-top: calc(3 * var(--burger-margin) + var(--burger-margin) + 1px);
      }

      &:hover {
        cursor: pointer;
        background-color: color(var(--info) tint(10%));

        & .bottom {
          display: none;
        }

        & .top,
        & .middle {
          width: calc(2 * var(--burger-margin) + 7px);
        }

        & .top {
          transform: rotate(45deg);
          margin-top: calc(2 * var(--burger-margin) + var(--burger-margin) + 1px);
        }

        & .middle {
          transform: rotate(-45deg);
          left: calc(4 * var(--burger-margin));
        }
      }

      &.is-active {
        & .bottom {
          display: none;
        }

        & .top {
          transform: rotate(-45deg);
          margin-top: calc(2 * var(--burger-margin) + var(--burger-margin) + 1px);
        }

        & .middle {
          transform: rotate(45deg);
          margin-top: calc(2 * var(--burger-margin) + var(--burger-margin) + 1px);
        }

        &:hover {
          & .top,
          & .middle {
            width: calc(2 * var(--burger-margin) + 7px);
          }

          & .top {
            transform: rotate(-45deg);
            margin-top: calc(2 * var(--burger-margin) + var(--burger-margin) + 1px);
          }

          & .middle {
            transform: rotate(45deg);
            left: calc(4 * var(--burger-margin));
          }
        }
      }
    }
  }

  &-body {
    transition: height 0.2s, padding 0.2s;
    overflow: hidden;
    height: 0;
    padding: 0 10px;

    & .subtitle {
      margin-bottom: 10px;
    }

    &.is-active {
      padding: 10px;

      &.size-3 {
        height: calc(3 * (2.385em + 13px));
      }

      &.size-2 {
        height: calc(2 * (2.385em + 15px));
      }

      &.size-1 {
        height: calc(2.385em + 20px);
      }
    }
  }

  & .input {
    width: 170px;
    height: 2.385em;
    border: 0;
    border-radius: 3px 0 0 3px;
  }

  & .control .icon {
    fill: #AAA;
  }

  & .subtitle {
    & .toggle {

      & a {
        transition: background-color 0.2s;
        border-color: #fff;

        & span {
          color: #444;
        }
      }
    }

    & .change {
      padding: 9px 0 8px 0;
      display: inline-flex;
      border-radius: 0px !important;
    }

    & .is-suites,
    & .is-tests,
    & .is-properties {
      min-width: 110px;

      & .count,
      & .change {
        background-color: color(var(--info) tint(60%)) !important;

        &:hover {
          background-color: color(var(--info) tint(80%)) !important;
        }
      }

      & .count {
        & .icon {
          display: none;
        }
      }
    }

    & .is-pass {
      & .count,
      & .change {
        background-color: var(--pass) !important;

        &:hover {
          background-color: color(var(--pass) tint(20%)) !important;
        }
      }
    }

    & .is-fail {
      & .count,
      & .change {
        background-color: var(--fail) !important;

        &:hover {
          background-color: color(var(--fail) tint(20%)) !important;
        }
      }
    }

    & .is-error {
      & .count,
      & .change {
        background-color: var(--error) !important;

        &:hover {
          background-color: color(var(--error) tint(20%)) !important;
        }
      }
    }

    & .is-skip {
      & .count,
      & .change {
        background-color: var(--skip) !important;

        &:hover {
          background-color: color(var(--skip) b(20%)) !important;
        }
      }
    }

    & .is-unknown {
      & .count,
      & .change {
        background-color: color(var(--unknown) tint(30%)) !important;

        &:hover {
          background-color: color(var(--unknown) tint(20%)) !important;
        }
      }
    }
  }
}
