.card-header-icon .icon {
  width: 20px;
  transform: translateY(-5px);
}

.is-collapsed .card-header-icon .icon {
  transform: rotate(180deg) translateY(0px);
}

.suites .fa {
  padding-right: 5px;
}

.suites .suite,
.suites .test {
  margin-bottom: 10px;
}

.suites .suite .icon,
.suites .test .icon,
.suites .properties .icon {
  margin: 0 3px;
}

.suites .suite.is-collapsed .card-content,
.suites .suite.is-collapsed .table,
.suites .test.is-collapsed .card-content,
.suites .test.is-collapsed .table,
.suites .properties.is-collapsed .card-content,
.suites .properties.is-collapsed .table {
  display: none !important;
}

.suites .suite .properties.is-collapsed,
.suites .test .properties.is-collapsed,
.suites .properties .properties.is-collapsed {
  margin-bottom: 10px;
}

.suites .suite.is-expanded .card-content,
.suites .test.is-expanded .card-content,
.suites .properties.is-expanded .card-content {
  display: block;
}

.suites .suite.is-expanded .table,
.suites .test.is-expanded .table,
.suites .properties.is-expanded .table {
  display: table;
}

.suites .properties .card-header {
  background-color: #ECF0F1;
}

.suites .properties .card-header:hover {
  background-color: rgb(220, 220, 220);
}

.suites .card-header {
  color: #666;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suites .card-header-icon {
  color: #666;
}

.suites .is-fail {
  background-color: #E74C3C;
}

.suites .is-fail:hover {
  background-color: rgb(217, 77, 61);
}

.suites .is-pass {
  background-color: #23D160;
}

.suites .is-pass:hover {
  background-color: rgb(36, 217, 99);
}

.suites .is-error {
  background-color: #FFDD57;
}

.suites .is-error:hover {
  background-color: rgb(217, 191, 87);
}

.suites .is-skip {
  background-color: #ECF0F1;
}

.suites .is-skip:hover {
  background-color: rgb(220, 220, 220);
}

.suites .is-unknown {
  background-color: rgb(153, 185, 238);
}

.suites .is-unknown:hover {
  background-color: rgb(51, 115, 217);
}

.card-header-title {
  word-break: break-all;
}

.card-header-title-time {
  padding-left: 10px;
  font-weight: normal;
}

.test-toggle {
  margin-bottom: 8px
}

.test-toggle input {
  height: 16px;
  vertical-align: middle;
}

.test-toggle label {
  margin-left: 8px;
}

.test-toggle label:hover,
.test-toggle input:hover {
  cursor: pointer;
}

.test-message,
.test-code {
  white-space: pre-wrap;
  overflow: auto;
  display: block;
  padding: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1.5rem;
}

.icon svg {
  width: 100%;
  height: auto;
}

.search .icon svg {
  width: 40%;
}

.change,
li {
  height: 38px;
}