body,
.card {
    color: #2C3E50 !important;
}

.hero {
    background-color: #2C3E50 !important;
    padding: 10px !important;
}   

.hero .container {
    width: 100%;
}

.Burger {
    height: 100%;
}

.hero-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .logo {
    height: 64px;
    width: auto;
    margin-right: 16px;
}

.hero .title {
    font-size: 36px;
    font-weight: normal;
}

.card-content {
    overflow-x: auto;
    overflow-y: hidden;
}

.card-header-icon {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #2C3E50;
}

.card-header-icon .icon {
    margin-left: auto;
    transition: transform 0.1s ease-in-out;
    transform: rotate(180deg);
}

.options.is-active .card-header-icon .icon,
.files.is-active .card-header-icon .icon {
    transform: rotate(0deg);
}

.options-inputs {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.options-search {
    margin-bottom: 0 !important;
    margin-right: 32px;
    margin-left: 16px;
    min-width: 100px;
}

.input {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #2C3E50;
    padding: 0;
}

.options-total,
.options-count {
    margin-right: 16px;
    font-size: 16px;
}

.options-count {
    display: flex;
}

.options-count .icon {
    font-size: 12px;
}

.options,
.files {
    box-shadow: none;
    border-bottom: solid 1px #E7EAED;
}

.options .card-header,
.files .card-header {
    box-shadow: none;
}

.options .card-content,
.files .card-content {
    transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
}

.options .card-content,
.files .card-content {
    height: 0;
    padding: 0 1.5rem;
}

.options.is-active .card-content {
    height: 130px;
    padding: 12px 1.5rem;
}

.files.is-active .card-content {
  height: 395px;
}

.toggles-container {
    display: flex;
}

.toggles {
    margin-right: 16px;
    width: 120px;
}

.toggles .title {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.toggles .title .icon {
    font-size: 14px;
    height: 100%;
    margin-left: -6px;
}

.toggle {
    border: none;
    margin-bottom: 4px;
    padding: 0;
    height: auto;
}

.toggle-rail {
    position: relative;
    margin-right: 2px;
    background-color: #2C3E50;
    width: 20px;
    height: 8px;
    border-radius: 4px;
}

.toggle-handle {
    transition: left 0.1s ease-in-out;
    position: absolute;
    top: -3px;
    height: 14px;
    width: 14px;
    border-radius: 90px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
    left: -1px;
    background-color: #F5F9FC;
}

.toggle.is-active .toggle-handle {
    background-color: #375C80;
    left: 8px;
}

.files .card-content {
    padding: 0;
}

.tabs {
    margin: 0 !important;
    margin-left: -1px !important;
}

.tabs .tab {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.tabs li.is-active .tab {
    background-color: white;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important;
}

.files li.is-active a {
    border-radius: 0;
    border-top: none;
}

.files li.is-active a .delete {
    margin-left: 6px;
}

.files-input {
  margin-left: 16px;
  margin-bottom: 16px;
  width: 98%;
}

.add-file {
  padding: 0.5em 0 !important;
}

.files .subtitle {
  padding-left: 4px;
  margin-bottom: 0 !important;
}

.files .subtitle .icon {
  transform: rotate(0) translateY(2px) !important;
  font-size: 18px;
  margin-right: 4px;
}